<section>
  <a href="/serie/index.html" transition:name="serie"
    >Valheim: Larga vida a La Reina</a
  >
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    height: 100vh;
  }

  a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-gold);
    border: 2px solid var(--gold-dim);
    padding: 0.5rem 1rem;
  }
</style>
