---
import "../styles/global.css";
import "../styles/characters.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Valheim: Larga vida a La Reina | Tésis",
  description = "Adéntrate en el universo de Valheim: Larga vida a La Reina, la webserie de Ailén Braga y Matías Aguirre. Descubre sus personajes, su mundo y la historia detrás de su creación.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="shortcut icon" href="favicon.webp" type="image/x-icon" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
